services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Miami323
      POSTGRES_DB: miappfitness
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: postgres://postgres:Miami323@postgres:5432/miappfitness
      PORT: 3001
      JWT_SECRET: your_jwt_secret_key
    depends_on:
      - postgres
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
